.cancel-view-container {
  height: 100vh;
  text-align: center;
  font-weight: lighter;
  z-index: 10;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: rgba(23,24,23,1);

  .main-header {
    font-size: 72px * @screen-ratio-factor;
    color: white;
    top: 352px * @screen-ratio-factor;
    position: relative;
  }

  .sub-header {
    font-size: 36px * @screen-ratio-factor;
    color: @grey;
    top: 364px * @screen-ratio-factor;
    margin-bottom: 20px * @screen-ratio-factor;
    position: relative;
  }

  .buttons-container {
    top: 414px * @screen-ratio-factor;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 655px * @screen-ratio-factor;
    
    & > * {
      font-size: 32px * @screen-ratio-factor;
      display: inline-block;
      font-weight: lighter;

      &:hover {
        cursor: pointer;
      }
    }

    .send-recording {
      float: right;
      font-size: 28px;
      line-height: 39px;
      padding: 15px 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      background-color: @rb-highlight-dark;
      width: 232px;
      -webkit-border-radius: 8px;
    }

    .abort-recording {
      font-size: 28px;
      line-height: 39px;
      padding: 15px 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      background-color: @rb-highlight-dark;
      -webkit-border-radius: 8px;
      width: 232px;
      float: left;
    }
  }
}
