.choosen-song-container {
  background: @background-grey;
  height: 100vh;
  text-align: center;
  font-weight: lighter;

  .black-aple {
      content: '\A';
      position: absolute;
      width: 100vw;
      height: 100vh;
      top:0; 
      left:0;
      background-color: @background-grey;
      opacity: 0.7;
  }

  .timer-container {
    position: absolute;
    top: 74px * @screen-ratio-factor;
    right: 350px * @screen-ratio-factor;
    box-sising: border-box;

    & > * {
      display: inline-block;
      font-size: 32px * @screen-ratio-factor;
    }

    .red-dot {
      width: 40px * @screen-ratio-factor;
      height: 40px * @screen-ratio-factor;
      vertical-align: middle;
    }

    .time-passed {
      color: @red;
      top: 4px * @screen-ratio-factor;
      position: relative;
      margin-right: 6px * @screen-ratio-factor;
      margin-left: 12px * @screen-ratio-factor;
    }

    .total-time {
      color: @grey;
      position: relative;
      top: 4px * @screen-ratio-factor;
      margin-left: 4px * @screen-ratio-factor;
    }
  }

  .end-session {
    position: absolute;
    right: 81px;
    top: 26px;
    font-size: 28px;
    line-height: 39px;
    padding: 15px 39px;
    font-weight: 400;
    color: @rb-white;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-color: @rb-highlight-dark;
    -webkit-border-radius: 8px;
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  .main-header {
    font-size: 72px * @screen-ratio-factor;
    color: white;
    top: 352px * @screen-ratio-factor;
    position: relative;
  }

  .sub-header {
    font-size: 36px * @screen-ratio-factor;
    color: @grey;
    top: 364px * @screen-ratio-factor;
    margin-bottom: 20px * @screen-ratio-factor;
    position: relative;
  }

  .buttons-container {
    top: 414px * @screen-ratio-factor;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 655px * @screen-ratio-factor;


    .send-recording {
      float: left;
      margin: 0 auto;
      font-size: 28px;
      line-height: 73px;
      padding: 1px 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      background-color: @rb-highlight-dark;
      width: 232px;
      -webkit-border-radius: 8px;
    }

    .abort-recording {
      float: right;
      margin: 0 auto;
      font-size: 28px;
      line-height: 73px;
      padding: 1px 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      background-color: @rb-highlight-dark;
      width: 232px;
      -webkit-border-radius: 8px;
    }
  }
}
