.end-screen-container {
  background: @background-grey;
  height: 100vh;
  text-align: center;
  font-weight: lighter;

  .main-header {
    font-size: 72px * @screen-ratio-factor;
    color: white;
    top: 352px * @screen-ratio-factor;
    position: relative;
  }

  .sub-header {
    font-size: 36px * @screen-ratio-factor;
    color: @grey;
    top: 374px * @screen-ratio-factor;
    margin-bottom: 30px * @screen-ratio-factor;
    position: relative;
  }

  .start-again {
    font-size: 28px;
    line-height: 39px;
    padding: 15px 39px;
    font-weight: 400;
    color: @rb-white;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-color: @rb-highlight-dark;
    width: 232px;
    -webkit-border-radius: 8px;
    margin: 0 auto;
    position: relative;
    top: 410px;
  }
}