.footer-container {
  background-color: @background-grey;
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 125px * @screen-ratio-factor;
  text-align: center;

  & > * {
    font-size: 64px * @screen-ratio-factor;
    display: inline-block;
    font-weight: lighter;
  }

  .artist {
    color: @rb-highlight-dark;
    text-transform: uppercase;
    position: relative;
    float: left;
    top: 25px * @screen-ratio-factor;
    margin-left: 90px * @screen-ratio-factor;
    margin-right: 30px * @screen-ratio-factor;
    display: inline-block;
    font-size: 64px * @screen-ratio-factor;
    font-weight: 700;
  }

  .title {
    color: @rb-white;
    position: relative;
    float: left;
    top: 25px * @screen-ratio-factor;
    display: inline-block;
    font-size: 64px * @screen-ratio-factor;
    font-weight: 400;
    margin-right: 60px * @screen-ratio-factor;
  }
}