@miniature-num: 7;
@miniature-width: 447px;
@miniature-height: 285px;
@miniature-margin: 10px;
@genre-container-height: 380px;

.genres-container {
  padding-top: 100px;
  background: @background-grey;
  height: 100vh;
  width: 100vw;

  .genre-container {
    display: block;
    float: left;
    margin-bottom: 63px * @screen-ratio-factor;
    height: @genre-container-height * @screen-ratio-factor;
    width: 100vw;

    .genre-slider-header-container {
      width: 100vw;
      display: block;
      height: 57px * @screen-ratio-factor;
      margin-bottom: 20px * @screen-ratio-factor;
      box-sizing: border-box;
      padding-left: 50px * @screen-ratio-factor;

      & > * {
        display: inline-block;
        float: left;
        vertial-align: middle;
      }

      img {
        height: 57px * @screen-ratio-factor;
        margin-left: 10px * @screen-ratio-factor;
        margin-right: 10px * @screen-ratio-factor;
      }

      span {
        color: @red;
        padding-top: 4px * @screen-ratio-factor;
        font-size: 32px * @screen-ratio-factor;
      }
    }

    .genre-slider {
      .song-miniature {
        height: @miniature-height * @screen-ratio-factor;
        background-size: cover;
        background-position: center;

        .miniature-description {
          background: rgba(33, 33, 33, 0.8);
          padding: 10px * @screen-ratio-factor;
          font-size: 32px * @screen-ratio-factor;
          font-weight: lighter;
          text-align: center;

          .miniature-artist {
            color: @red;
            margin-right: 14px * @screen-ratio-factor;
          }

          .miniature-title {
            color: white;
          }
        }
      }
    }
  }

  .genres-list {
    list-style-type: none;
    padding: 98px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
    text-align: center;

    > * {
      display: inline-block;
      margin: 0px 35px * @screen-ratio-factor;
      cursor: pointer;
      text-align: center;
    }

    > li {
      line-height: 65px;
      margin: 15px;
      font-size: 4.571rem;
      font-weight: 400;
      text-transform: uppercase;
      -webkit-border-radius: 8px;

      &:nth-child(odd) {
        font-weight: 700;
        color: @rb-highlight-light;
      }

      &:nth-child(even) {
        font-weight: 400;
        color: @rb-highlight-dark;
      }

      &:hover {
        color: @rb-white;
      }
    }
  }

}
