.karaoke-container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .progress-line {
    height: 10px * @screen-ratio-factor;
    background-color: @rb-highlight-light;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .karaoke-text-container {
    color: @rb-white;
    width: 100vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    height: 100vh;
    font-size: 56px;
    padding-top: 265px;
    line-height: 110px;
    white-space: nowrap;
    background-color: rgba(33,33,33,0.3);
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);

    .karaoke-line-current {
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(33,33,33,0.5) 13%, rgba(33,33,33,0.9) 16%, rgba(33,33,33,0.9) 50%, rgba(33,33,33,0.9) 84%, rgba(33,33,33,0.5) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(33,33,33,0.5) 13%,rgba(33,33,33,0.9) 16%,rgba(33,33,33,0.9) 50%,rgba(33,33,33,0.9) 84%,rgba(33,33,33,0.5) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(33,33,33,0.5) 13%,rgba(33,33,33,0.9) 16%,rgba(33,33,33,0.9) 50%,rgba(33,33,33,0.9) 84%,rgba(33,33,33,0.5) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
      font-weight: 400;
      line-height: 120px;
    }

    .karaoke-line-next {
      font-size: 48px;
      font-weight: 300;
    }

    .next-1 {
      opacity: 0.8;
    }

    .next-2 {
      opacity: 0.6;
    }

    .next-3 {
      opacity: 0.4;
    }

    .next-4 {
      opacity: 0.2;
    }
  }

  .black-aple {
      content: '\A';
      position: absolute;
      width: 100vw;
      height: 100vh;
      top:0; 
      left:0;
      background:rgba(0,0,0,0.6);
      opacity: 0.8;
  }

  .controls-container {
    display: block;
    top: 55px * @screen-ratio-factor;
    position: relative;

    .karaoke-btn {
      position: absolute;
      right: 81px;
      top: 2px;
      font-size: 28px;
      line-height: 39px;
      padding: 15px 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      background-color: @rb-highlight-dark;
      -webkit-border-radius: 8px;
      display: block;
    }
    
    .time {
      height: 40px * @screen-ratio-factor;
      font-size: 32px * @screen-ratio-factor;
      position: absolute;
      display: inline-block;
      width: 256px * @screen-ratio-factor;
      right: 300px * @screen-ratio-factor;
      top: 16px * @screen-ratio-factor;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);

      img {
        height: 40px * @screen-ratio-factor;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px * @screen-ratio-factor;
        top: -2px * @screen-ratio-factor;
        position: relative;
      }

      .left {
        color: @rb-highlight-light;
      }

      .total {
        color: @rb-highlight-dark;
      }
    }
  }
}
