@keyboard-key-width:  166px * @screen-ratio-factor;
@keyboard-key-height: 137px * @screen-ratio-factor;
@keyboard-key-margin: 2.5px * @screen-ratio-factor;

/* row width = keysQuantity * keyboardKeyWidth + keysQuantity * keyboardKeyMargin + 2vw  */

.keyboard-button() {
  height: @keyboard-key-height;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 59px * @screen-ratio-factor;
  padding-top: 34px * @screen-ratio-factor;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &.lightup {
    -webkit-animation: lightup .0s;
    animation: lightdown .0s;
    animation-delay: .0s;
    -webkit-animation: lightdown .0s;
    -webkit-animation-delay: .0s;
  }

  @-webkit-keyframes lightdown {
    from { color: @rb-highlight-dark; }
    to { color: white; }
  }

  @keyframes lightdown {
    from { color: @rb-highlight-dark; }
    to { color: white; }
  }

  @-webkit-keyframes lightup {
    from { color: white; }
    to { color: @rb-highlight-dark; }
  }

  @keyframes lightup {
    from { color: white; }
    to { color: @rb-highlight-dark; }
  }
}

.letter {
  background: rgb(38,38,38);
  color: white;
}

.capitalize-button {
  .keyboard-button;
  color: white;
  background: url('images/rb-shift.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.capitalize-next {
  .keyboard-button;
  color: @rb-highlight-light;
  background: url('images/rb-shift-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.capitalize-all {
  color: @rb-highlight-dark;
  background: url('images/rb-shift-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.capitalize-next-background-preloader {
  background: url('images/rb-shift-light.svg');
  background-repeat: no-repeat;
  position: absolute;
  height: 0;
  width: 0;
  display: none;
}

.capitalize-all-background-preloader {
  background: url('images/rb-shift-dark.svg');
  background-repeat: no-repeat;
  position: absolute;
  height: 0;
  width: 0;
  display: none;
}

.remove-button {
  background: url('images/delete.svg');
  background-repeat: no-repeat;
  color: white;
  background-position: center center;
  background-size: auto;
}

.keyboard-container {
  height: 581px * @screen-ratio-factor;
  bottom: 0;
  position: absolute;
  width: 100vw;
  background: rgb(33,33,33);
  display: block;
  padding: 20px 0;
}

.row() {
  text-align: center;
  width: 100vw;
  text-align: center;
}

.fifth-bottom-row,
.fourth-bottom-row,
.third-bottom-row,
.second-bottom-row, 
.first-bottom-row {
  .row;
}

.fourth-bottom-row {
  padding-top: 0.3vw;
}

.fifth-bottom-row {
  position: absolute;
  bottom: 4 * @keyboard-key-width + 10 * @keyboard-key-margin;
  background: #515151;
  padding-top: 0.3vw;
  margin-bottom: -0.3vw;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 69.8vw; 
}

.keyboard-button-width-one {
  .keyboard-button;
  width: @keyboard-key-width;
}

.diacritics-container() {
  position: absolute;
  height: @keyboard-key-width + 2 *  @keyboard-key-margin;
  display: block;
  left: -@keyboard-key-margin;
  margin-top: -(1.67 * @keyboard-key-width);
  display: none; 
}

.diacritics-container-width-1 {
  .diacritics-container;
  width: @keyboard-key-width + 2 * @keyboard-key-margin;
}

.diacritics-container-width-2 {
  .diacritics-container;
  width: 2 * @keyboard-key-width + 4 *  @keyboard-key-margin;
}

.keyboard-diacritics-button() {
  .keyboard-button;
  color: #424242;
  background: white;
  position: relative;
  bottom: 0;
  left: 0;
  display: inline-block;
  border: 2px * @screen-ratio-factor solid black;
}

.keyboard-diacritics-button-width-one {
  .keyboard-diacritics-button;
  width: @keyboard-key-width;
}

.keyboard-button-container {
  .keyboard-button();  
  padding: 0;
  margin: @keyboard-key-margin;
  margin-top: @keyboard-key-margin;
  position: relative; 
}

.keyboard-button-width-two {
  .keyboard-button;
  width: 2 * @keyboard-key-width + 2 * @keyboard-key-margin;
}

.keyboard-button-width-three {
  .keyboard-button;
  width: 3 * @keyboard-key-width + 3 * @keyboard-key-margin;
}

.keyboard-button-width-six {
  .keyboard-button;
  width: 6 * @keyboard-key-width + 10 * @keyboard-key-margin + 3;
}

.capitalize-all {
  background-color: rgb(38,38,38);
}

.capitalize-next {
  background-color: rgb(38,38,38);
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}

.stop-select {
  -webkit-user-select: none;
}
