.library-menu-container {
  z-index: 100;

  position: fixed;
  //top: 71px * @screen-ratio-factor;
  //left: 1386px * @screen-ratio-factor;
  //width: 551px * @screen-ratio-factor;
  width: 100vw;
  height: 100px * @screen-ratio-factor;
  font-size: 34px * @screen-ratio-factor;
  font-weight: 400;
  background-color: @rb-ct-grey;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  .library-menu {
    list-style-type: none;
    margin-right: 63px;
    padding: 0;
    float: right;
    line-height: 30px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);

    > * {
      display: inline-block;
      margin: 0px 35px * @screen-ratio-factor;
      cursor: pointer;
    }

    > li {
      color: @rb-highlight-dark;

      &:hover, &.red {
        color: @rb-highlight-light;
      }
    }

    .search-container {
      > * {
        border: none;
      }

      &:hover {
        & > .search-icon {
          background: url('images/search-icon-red.png');
          background-size: cover;
        }

        & > .search {
          color: @rb-highlight-light;
        }
      }

      .search-icon {
        background: url('images/search-icon.png');
        display: inline-block;
        background-size: cover;
        vertical-align: middle;
        height: 44px * @screen-ratio-factor;
        width: 44px * @screen-ratio-factor;
        margin: 0px 10px * @screen-ratio-factor 0px -6px * @screen-ratio-factor;

        &.red {
          background: url('images/search-icon-red.png');
          background-size: cover;
        }
      }

      .search {
        color: @rb-highlight-dark;

        &.red {
          color: @rb-highlight-light;
        }
      }
    }
  }

  .menu-abort {
    color: @rb-highlight-dark;
    //font-size: 24px;
    //line-height: 20px;

    &:hover {
      color: @rb-highlight-light;
    }
  }

}

.search:hover ~ .search-icon {
  background: url('images/search-icon-red.png');
}
