@miniature-num: 7;
@miniature-width: 445px;
@miniature-height: 284px;
@miniature-margin: 10px;

.library-drag-slider {
  height: (@miniature-height + @miniature-margin * 2) * @screen-ratio-factor;

  .drag-container {
    width:  @miniature-num * ((@miniature-width + @miniature-margin * 2) * @screen-ratio-factor);
    height: (@miniature-height + @miniature-margin * 2) * @screen-ratio-factor;

    .drag-child {
      display: inline-block;
      margin: @miniature-margin * @screen-ratio-factor;
      width:  @miniature-width  * @screen-ratio-factor;
      height: @miniature-height * @screen-ratio-factor;
    }
  }
} 

.library-container {
  .library-newest-slides {
    background-size: cover;
    background-repeat: no-repeat;
    height: 576px * @screen-ratio-factor;
  }

  .library-newest-simple-slider {
    overflow-y: hidden;
    overflow-x: scroll;
    top: 600px * @screen-ratio-factor;
    width: 100vw;
    height: 430px;
    margin-top: 21px;

    .library-newest-simple-slider-inner {
      width: auto;
      display: inline-block;
    }

    .song-miniature {
      height: @miniature-height * @screen-ratio-factor;
      width: @miniature-width !important;
      background-size: cover;
      margin-right: 11px;
      float: left;

      .miniature-description {
        background: transparent;
        padding: 10px * @screen-ratio-factor;
        font-size: 32px * @screen-ratio-factor;
        text-align: center;
        margin-top: 284px !important;

        .miniature-artist {
          color: @rb-highlight-dark;
          font-weight: 700;
          margin-top: 27px;
          text-transform: uppercase;

        }

        .miniature-title {
          color: @rb-white;
          font-weight: 400;
        }
      }
    }

    .library-newest-simple-slider-element {
      float: left;
    }
  }
  
  .library-newest-slider {
    position: absolute;
    top: 600px * @screen-ratio-factor;

    .song-miniature {
      height: @miniature-height * @screen-ratio-factor;
      background-size: cover;
      background-position: center;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);

      .miniature-description {
        background: rgba(33, 33, 33, 0.8);
        padding: 10px * @screen-ratio-factor;
        font-size: 32px * @screen-ratio-factor;
        font-weight: lighter;
        text-align: center;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);

        .miniature-artist {
          color: @red;
          margin-right: 14px * @screen-ratio-factor;
          text-shadow: 0 1px 4px rgba(0,0,0,0.5);
        }

        .miniature-title {
          color: white;
          text-shadow: 0 1px 4px rgba(0,0,0,0.5);
        }
      }
    }
  }

  button {
    background-color: white !important;
    border: 0px * @screen-ratio-factor solid @rb-dots-active;
    -webkit-border-radius: 400px * @screen-ratio-factor;
  }

  .newest-song {
    color: white !important;
    display: inline-block;
    position: relative;
    height: 570px * @screen-ratio-factor;
    background-size: cover;
    background-position: 50% 30%;

    .song-background {
      width: 100vw;
      vertical-align: middle;
      float: left;
      left: 0;
      display: inline-block;
      position: relative;
    }
  }

  .slick-dots {
    top: 405px * @screen-ratio-factor;
  }

  .bottom-slide-stripe {
    position: absolute;
    width: 100vw;
    height: 80px * @screen-ratio-factor;
    top: 491px * @screen-ratio-factor;
    background-color: @rb-ct-grey;
    padding-left: 0px * @screen-ratio-factor;
    box-sizing: border-box;
    //padding-top: 20px * @screen-ratio-factor;
    text-align: center;
    line-height: 80px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    // @todo: RB - This will start working as soon as Chromuim will support backdrop-filter check updates!

    .artist,
    .title {
      font-size: 48px * @screen-ratio-factor;
      display: inline-block;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      // @todo: RB - Enable 'mix-blend-mode: overlay' as soon as Chromuim will support backdrop-filter
    }

    .artist {
      color: @rb-white;
      margin-right: 10px * @screen-ratio-factor;
      font-weight: 700;
      text-transform: uppercase;
    }

    .title {
      color: @rb-white;
      font-weight: 300;
    }

    .btn-red,
    .btn-grey {
      display: inline-block;
      width: 321px * @screen-ratio-factor;
      height: 70px * @screen-ratio-factor;
      font-size: 32px * @screen-ratio-factor;
      border-radius: 400px;
      box-sizing: border-box;
      padding-top: 13px * @screen-ratio-factor;
      text-align: center;
      margin: 0px* @screen-ratio-factor;
      top: -10px * @screen-ratio-factor;
      position: relative;
    }

    .btn-red {
      color: @red;
    }

    .btn-grey {
      color: @grey;
    }
  }

  // @TODO - remove below genres styles as they are not needed

  .bottom-genres-stripe {
    width: 100vw;
    //width: 1143px * @screen-ratio-factor;
    text-align: center;
    margin: 0 auto;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px * @screen-ratio-factor;

    .genre {
      color: @rb-highlight-light;
      text-transform: uppercase;
      background-color: @rb-highlight-dark;
      display: inline-block;
      width: 158px * @screen-ratio-factor;
      height: 40px * @screen-ratio-factor;
      margin: 10px 10px * @screen-ratio-factor;
      line-height: 13px;
      -webkit-border-radius: 200px;

      &:hover {
        cursor: pointer;
      }

      //img {
      //  height: 40px * @screen-ratio-factor;
      //  width: 40px * @screen-ratio-factor;
      //  display: inline-block;
      //  vertical-align: middle;
      //  margin-right: 15px * @screen-ratio-factor;
      //}

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
