.mic-test-container {
  display: block;
  width: 100vw;
  height: 100vh;
  font-weight: lighter;

  .mic-test-image {
    position: absolute;
    width: 400px * @screen-ratio-factor;
    top: 635px * @screen-ratio-factor;
    left: ((1920px - 400px) / 2) * @screen-ratio-factor;
  }

  .mic-test-header {
    color: @rb-highlight-dark;
    font-size: 54px * @screen-ratio-factor;
    width: 1470px * @screen-ratio-factor;
    height: 142px * @screen-ratio-factor;
    position: relative;
    top: 115px * @screen-ratio-factor;
    margin: 0 auto;
    display: block;
    cursor: default;
    text-align: center;
    font-weight: 400;
  }

  .mic-test-paragraph {
    color: @rb-highlight-light;
    font-size: 32px * @screen-ratio-factor;
    width: 1475px * @screen-ratio-factor;
    text-align: center;
    position: relative;
    top: 130px * @screen-ratio-factor;
    margin: 0 auto;
    display: block;
    cursor: default;
    font-weight: 300;
  }

  .next-view-button {
    width: 378px;
    height: 81px;
    font-size: 28px;
    line-height: 78px;
    padding-left: 190px;
    font-weight: 400;
    color: @rb-white;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-image: url('images/rb-btn-zaspiewaj.svg');
    background-position: center;
    background-size: contain !important;
    background-repeat: no-repeat;
    top: 175px;
    margin: 0 auto;
    position: relative;
    display: block;
    opacity: 1;
    transition: opacity 500ms;

    &.inactive {
      opacity: 0.3;
    }
  }
}

.mic-test-animation {
  position: absolute;
  pointer-events: none;
  top: 0;

  .volume-circle {
    fill: @rb-highlight-light;
  }
}
