.no-connection-container {
  .message {
    font-size: 62px * @screen-ratio-factor;
    font-weight: lighter;
    display: block;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    position: absolute;
    color: @grey;
  }
}