.pagination-container {
  position: absolute;
  top: 890px * @screen-ratio-factor;
  right: 85px * @screen-ratio-factor;
  display: block;
  font-size: 32px * @screen-ratio-factor;
  text-align: center;

  ul {
    padding: 0;

    > li {
      display: inline-block;
      width: 75px * @screen-ratio-factor;
      height: 75px * @screen-ratio-factor;
      color: @rb-white;
      padding-top: 10px * @screen-ratio-factor;
      margin: 10px * @screen-ratio-factor;
      font-weight: 300;
      line-height: 65px;
      -webkit-border-radius: 8px;
      background-color: @rb-highlight-light;

      &:hover {
        cursor: pointer;
        background: @rb-highlight-dark;
        color: @rb-white;
      }

      &.dots {
        border: none;

        &:hover {
          cursor: default;
          color: @rb-white;
        }
      }

      &.active {
        background: @rb-highlight-dark;
        color: @rb-white;
      }
    } 
  }

  .arrow {
    position: absolute;
    background: @background-grey;
    top: 86px;
    height: 58px * @screen-ratio-factor;
    width: 58px * @screen-ratio-factor;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: @background-grey;

    &.right {
      background-image: url('images/arrow-right.svg');
      left: 100%;
      position: absolute;
      margin-top: -30px * @screen-ratio-factor;

      &:hover {
        cursor: pointer;
      }
    }

    &.left {
      background-image: url('images/arrow-left.svg');
      right: 100%;
      position: absolute;
      margin-top: -30px * @screen-ratio-factor;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
