.search-results-container {
  height: 100vh;
  width: 100vw;
  background: @background-grey;
  overflow: scroll;

  .header {
    position: relative;
    display: block;
    top: 223px * @screen-ratio-factor;
    color: @grey;
    font-size: 42px * @screen-ratio-factor;
    left: 98px * @screen-ratio-factor;
    font-weight: 300;
  }

  .songs-list {
    position: relative;
    padding: 0;
    margin: 0;
    left: 98px;
    top: 310px;
    font-weight: lighter;

    .song {
      display: block;
      width: 100%;
      height: 71px * @screen-ratio-factor;
      margin-bottom: 20px * @screen-ratio-factor;
      font-size: 32px * @screen-ratio-factor;

      & > * {
        display: inline-block;
      }

      .artist {
        margin-right: 10px * @screen-ratio-factor;
        font-size: 32px * @screen-ratio-factor;
        color: @rb-highlight-dark;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 15px
      }

      .title {
        color: @rb-white;
        margin-right: 40px * @screen-ratio-factor;
        font-size: 32px * @screen-ratio-factor;
        font-weight: 400;
      }

      .duration {
        color: @dark-grey;
        font-size: 32px * @screen-ratio-factor;
      }

      .production-date {
        color: @dark-grey;
        font-size: 32px * @screen-ratio-factor;
      }

      .name {
        color: @dark-grey;
        font-size: 32px * @screen-ratio-factor;
      }

      .details-button {
        position: absolute;
        right: 196px;
        //background-image: url('images/rb-btn-zaspiewaj.svg');
        //background-position: center;
        //background-size: contain !important;
        background-color: @rb-highlight-dark;
        -webkit-border-radius: 8px;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 28px;
        line-height: 39px;
        padding: 15px 39px;
        font-weight: 400;
        color: @rb-white;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      }

      .details-button:hover {
        background-color: @rb-highlight-light;
        color: @rb-white;
      }
    }
  }
}
