.slideshow-container {
  width: 100vw;
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  button {
    border: 2px * @screen-ratio-factor solid @red;
    border-radius: 400px * @screen-ratio-factor;
  }

  .elements-container {
    position: absolute;
    width: 932px * @screen-ratio-factor;
    height: 401px * @screen-ratio-factor;
    left: 900px * @screen-ratio-factor;
    top: 306px * @screen-ratio-factor;
  }

  .start-button {
    font-size: 28px;
    line-height: 39px;
    padding: 15px 39px;
    font-weight: 400;
    color: @rb-white;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-color: @rb-highlight-dark;
    width: 232px;
    -webkit-border-radius: 8px;
    text-align: center;
    margin-top: 50px;
  }

  h1.sing-with-us-header {
    color: @rb-highlight-dark;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
  }

  h2.teaser-text {
    color: @grey;
    font-weight: 300;
    line-height: 50px * @screen-ratio-factor;
    margin-top: 18px * @screen-ratio-factor;
    margin-bottom: 30px * @screen-ratio-factor;
    line-height: 60px;
    //padding-right: 200px * @screen-ratio-factor;
  }
}

.slick-dots {
  list-style-type: none;
  position: absolute !important;
  top: 940px * @screen-ratio-factor;
  text-align: center;
  left: 0;
  right: 0;

  & > li {
    color: transparent !important;
    //background: @rb-ct-grey !important;
    display: inline-block;
    margin: 12px * @screen-ratio-factor;


    &.slick-active > button {
      background: @rb-dots-active !important;
    }

    & > button {
      color: transparent !important;
      background: @rb-dots-inactive !important;
      width: 35px * @screen-ratio-factor !important;
      height: 10px * @screen-ratio-factor !important;
      -webkit-border-radius: 400px * @screen-ratio-factor;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
