.rc-slider-container {
  width: 620px * @screen-ratio-factor;
  display: inline-block;
  position: relative;
  top: 10px * @screen-ratio-factor;
  float: right;
  right: 40px * @screen-ratio-factor;

  & > * {
    display: inline-block;
  }

  .rc-slider {
    position: relative;
    height: 8px * @screen-ratio-factor;
    width: 70%;
    border-radius: 12px * @screen-ratio-factor;
    background-color: @grey;
    top: -3px * @screen-ratio-factor;
  }

  .volume {
    color: @rb-white;
    font-size: 32px * @screen-ratio-factor;
    font-weight: 400;
    display: inline-block;
    margin-left: 40px * @screen-ratio-factor;
    position: relative;
    top: 5px * @screen-ratio-factor;
  }

  .rc-slider-track {
    position: absolute;
    left: 0;
    height: 8px * @screen-ratio-factor;
    border-radius: 12px * @screen-ratio-factor;
    background-color: @rb-highlight-dark;
    z-index: 1;
  }
  .rc-slider-handle {
    position: absolute;
    margin-left: -20px * @screen-ratio-factor;
    margin-top: -16px * @screen-ratio-factor;
    width: 40px * @screen-ratio-factor;
    height: 40px * @screen-ratio-factor;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;

    &:hover {
      border: 2px * @screen-ratio-factor solid @rb-highlight-dark;
      margin-top: -17px * @screen-ratio-factor;
      margin-left: -22px * @screen-ratio-factor;
    }
  }

  .mute {
    width: 40px * @screen-ratio-factor;
    height: 40px * @screen-ratio-factor;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 8px * @screen-ratio-factor;
    margin-right: 20px * @screen-ratio-factor;
    

    &:hover {
      cursor: pointer;
    }
  }

  .rc-slider-tooltip {
    display: none;
  }
}