.song-search-container {
  height: 100vh;
  width: 100vw;
  background: @background-grey;

  .search-form-container {
    width: 1490px * @screen-ratio-factor;
    height: 71px * @screen-ratio-factor;
    background: @background-grey;
    position: relative;
    top: 235px;
    left: 98px;

    .song-search-input {
      height: 100%;
      border-top: none;
      font-size: 44px * @screen-ratio-factor;
      font-weight: 300;
      border-bottom: @rb-highlight-dark solid 2px * @screen-ratio-factor;
      border-left: none;
      border-right: none;
      background: @background-grey;
      width: 100%;
      padding: 0 9px * @screen-ratio-factor;
      color: @rb-highlight-light;
      padding-bottom: 10px;
      display: block;
      margin: 0 auto;
    }

    .search-button {
      height: 70px * @screen-ratio-factor;
      width: 248px * @screen-ratio-factor;
      margin-left: 20px * @screen-ratio-factor;
      border-radius: 400px * @screen-ratio-factor;
      color: @rb-highlight-light;
      background: @background-grey;
      font-size: 32px * @screen-ratio-factor;
    }
  }
}

.rb-btn {
  position: absolute;
  right: 98px;
  top: 235px;
  //background-image: url('images/rb-btn-zaspiewaj.svg');
  //background-position: center;
  //background-size: contain !important;
  background-color: @rb-highlight-dark;
  -webkit-border-radius: 8px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  line-height: 39px;
  padding: 15px 39px;
  font-weight: 400;
  color: @rb-white;
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}