.song-details-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .track-info {
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center !important;
    width: 100vw;

    .length-container {
      min-width: 170px * @screen-ratio-factor;
    }

    .length-container{
      width: auto;
      display: inline-block;
      margin-top: 34px;
      margin-bottom: 30px * @screen-ratio-factor;
      margin-right: 30px * @screen-ratio-factor;
      text-align: center;

      & > * {
        display: inline-block;
      }

      .sub-info-title {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: @rb-highlight-dark;
        margin-right: 10px;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      }

      .sub-info-description {
        font-size: 32px;
        font-weight: 400;
        text-transform: capitalize;
        color: @rb-highlight-light;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      }

    }

  }

  .info-container {
    //img {
    //  width: 40px * @screen-ratio-factor;
    //  height: 40px * @screen-ratio-factor;
    //  vertical-align: middle;
    //  display: inline-block;
    //  margin-right: 20px * @screen-ratio-factor;
    //}

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+40,262626+60&0+17,0.8+84 */
    background: -moz-linear-gradient(top,  rgba(38,38,38,0) 17%, rgba(38,38,38,0.27) 40%, rgba(38,38,38,0.51) 60%, rgba(38,38,38,0.8) 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(38,38,38,0) 17%,rgba(38,38,38,0.27) 40%,rgba(38,38,38,0.51) 60%,rgba(38,38,38,0.8) 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(38,38,38,0) 17%,rgba(38,38,38,0.27) 40%,rgba(38,38,38,0.51) 60%,rgba(38,38,38,0.8) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00262626', endColorstr='#cc262626',GradientType=0 ); /* IE6-9 */

    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
    font-weight: lighter;
    text-align: center;

    .main-header {

    text-align: center;
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;

      .artist {
        display: block;
        color: @rb-white;
        font-size: 200px;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
        //opacity: 0.8;
        mix-blend-mode: exclusion;
        line-height: 180px;
        margin-top: 25px;
      }

      .title {
        display: block;
        color: @rb-white;
        font-size: 90px;
        margin-top: 25px;
        line-height: 100px;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
        text-transform: capitalize;
      }
    }

    .track-info {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }

    .language {
      color: white;
      font-size: 32px * @screen-ratio-factor;
      width: 912px * @screen-ratio-factor;
      margin-top: 20px * @screen-ratio-factor;
      margin-bottom: 20px * @screen-ratio-factor;
    }

    .length-container {
      min-width: 170px * @screen-ratio-factor;
    }

    .date-container {
      min-width: 120px * @screen-ratio-factor; 
    }

    .factory-container {
      min-width: 200px * @screen-ratio-factor;
    }

    .length-container,
    .date-container,
    .factory-container {
      width: auto;
      display: inline-block;
      color: @grey;
      margin-top: 34px;
      margin-bottom: 60px * @screen-ratio-factor;
      margin-right: 30px * @screen-ratio-factor;
      text-align: center;

      & > * {
        display: inline-block;
      }

      .artist {
        color: @red;
        margin-right: 10px * @screen-ratio-factor;
      }

      .title {
        color: white;
        margin-right: 40px * @screen-ratio-factor;
      }

      .sub-info-title {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        color: @rb-highlight-dark;
        margin-right: 10px;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      }

      .sub-info-description {
        font-size: 32px;
        font-weight: 400;
        text-transform: capitalize;
        color: @rb-highlight-light;
        text-shadow: 0 1px 4px rgba(0,0,0,0.5);
      }

    }

    .btn-top {
      //position: relative;
      //right: 81px;
      //top: 155px * @screen-ratio-factor;
      background-image: url('images/rb-btn-zaspiewaj.svg');
      background-position: center;
      background-size: contain !important;
      background-repeat: no-repeat;
      display: inline-block;
      margin-top: 50px;
      width: 378px;
      height: 81px;
      font-size: 28px;
      line-height: 78px;
      padding-left: 39px;
      font-weight: 400;
      color: @rb-white;
      text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    }

    .bottom-section {
      & > * {
        display: inline-block;
        float: left;
        vertical-align: middle;
        position: relative;
      }

      .sing-button {
        width: 291px * @screen-ratio-factor;
        height: 70px * @screen-ratio-factor;
        color: @red;
        font-size: 32px * @screen-ratio-factor;
        background: none;
        border: 2px * @screen-ratio-factor solid @red;
        border-radius: 400px * @screen-ratio-factor;
        float: left;
        position: relative;
        left: 0;
        text-align: center;
        padding-top: 15px * @screen-ratio-factor;
        box-sizing: border-box;
        font-weight: normal !important;
      }

      .sing-button:hover {
        cursor: pointer;
      }

      .pause {
        top: 12px * @screen-ratio-factor;
        margin-left: 40px * @screen-ratio-factor;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
