@import 'less/cancel.less';
@import 'less/choosen-song.less';
@import 'less/end-screen.less';
@import 'less/footer.less';
@import 'less/genres.less';
@import 'less/karaoke.less';
@import 'less/keyboard.less';
@import 'less/library-menu.less';
@import 'less/library.less';
@import 'less/login.less';
@import 'less/mic-test.less';
@import 'less/no-connection.less';
@import 'less/pagination.less';
@import 'less/search-results.less';
@import 'less/slider.less';
@import 'less/slideshow.less';
@import 'less/song-details.less';
@import 'less/song-search.less';
@import 'less/transition.less';
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,greek,latin-ext,greek-ext,cyrillic,vietnamese,cyrillic-ext);

@inputs-inner-text-color: rgb(156, 161, 137);
@background-grey:         rgb(23,24,23);
@red:                     rgb(213, 0, 0);
@grey:                    rgb(164, 164, 164);
@dark-grey:               rgb(72, 72, 72);
@light-grey:              rgb(216, 216, 216);
@rb-white:                rgba(250,250,250,1);
@rb-ct-grey:              rgba(33,33,33,0.8);
@rb-highlight-light:      rgba(170,201,215,1);
@rb-highlight-dark:       rgba(96,125,139,1);
@rb-dots-active:          rgba(170,201,215,1);
@rb-dots-inactive:        rgba(170,201,215,0.4);

body {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  background: @background-grey;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  //-webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.rb-hide {
  display: none;
}

.main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 100vh;
}

h1 {
  font-size: 64px * @screen-ratio-factor;
}

h2 {
  font-size: 32px * @screen-ratio-factor;
}

*:focus {
  outline: 0;
}

.btn-red {
  border: 2px * @screen-ratio-factor solid @red;
  background: none;
  color: @grey;
  height: 70px * @screen-ratio-factor;
  border-radius: 400px * @screen-ratio-factor;
  font-size: 32px * @screen-ratio-factor;
  font-weight: lighter;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.btn-grey {
  border: 2px * @screen-ratio-factor solid @grey;
  background: none;
  color: @grey;
  height: 70px * @screen-ratio-factor;
  border-radius: 400px * @screen-ratio-factor;
  font-size: 32px * @screen-ratio-factor;
  font-weight: lighter;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.rb-logo {
  background: url('images/rb-logo.svg');
  background-position: center;
  background-size: contain !important;
  background-repeat: no-repeat;
  position: fixed;
  left: 98px * @screen-ratio-factor;
  top: 25px * @screen-ratio-factor;
  width: 198px * @screen-ratio-factor;
  height: 49px * @screen-ratio-factor;
  z-index: 2;
}

.invalid {
  color: @red !important;
}

.stop-select {
  -webkit-user-select: none;
}

.fade-enter {
  opacity: 0;
  transition: opacity 500ms ease-in;

  &.fade-enter-active {
    opacity: 1;
  }
}

.fade-leave {
  opacity: 1;
  transition: opacity 500ms ease-out;

  &.fade-leave-active {
    opacity: 0;
  }
}
