.transition-container {
  // below are basically fixes for clicking through transition container
  // to views that are below it and triggering state machine changes
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: all;

  background: @background-grey;

  .timeline {
    font-size: 32px * @screen-ratio-factor;
    width: 1549px * @screen-ratio-factor;
    height: 187px * @screen-ratio-factor;
    position: absolute;
    left: 186px * @screen-ratio-factor;
    top: 205px * @screen-ratio-factor;
    text-align: center;
    font-size: 32px * @screen-ratio-factor;

    .progress-line-grey {
      border: 2px * @screen-ratio-factor solid @rb-highlight-light;
      z-index: 1;
      position: absolute;
      width: 85%;
      top: 36px * @screen-ratio-factor;
      left: 100px * @screen-ratio-factor;
    }

    .progress-line-red {
      border: 2px * @screen-ratio-factor solid @rb-highlight-dark;
      z-index: 2;
      position: absolute;
      width: 85%;
      top: 36px * @screen-ratio-factor;
      left: 100px * @screen-ratio-factor;
    }

    .stage-element {
      position: relative;
      width: 218px * @screen-ratio-factor;
      height: 100%;
      text-align: center;
      display: inline-block;
      margin-right: 20px * @screen-ratio-factor;
      margin-left: 20px * @screen-ratio-factor;
      z-index: 3;

      .passed {
        color: @rb-highlight-light;
        border: 2px * @screen-ratio-factor solid @rb-highlight-dark;
        background-color: @rb-highlight-dark;
      }

      .next {
        color: @rb-highlight-dark;
        border: 2px * @screen-ratio-factor solid @rb-highlight-light;
        background: @rb-highlight-light;
      }

      .future {
        color: @grey;
        border: 2px * @screen-ratio-factor solid @rb-highlight-light;
        background: @background-grey;
      }

      .digit {
        width: 79px * @screen-ratio-factor;
        height: 79px * @screen-ratio-factor;
        margin: 0 auto;
        position: relative;
        border-radius: 500px;
        margin-bottom: 14px * @screen-ratio-factor;;
        padding-top: 18px * @screen-ratio-factor;
        box-sizing: border-box;
        //background: @background-grey;
      }

      .header {
        color: @grey;
        width: 191px * @screen-ratio-factor;
        height: auto;
        margin: 0 auto;
        font-weight: 300;
      }
    }
  }

  .transition-animation {
    @line-green: #00C853;
    @line-orange: #FD9F2B;
    @line-red: #D50000;

    position: absolute;
    bottom: 0;

    .transition-animated-line {
      fill: none;
      stroke-weight: 2px;

      &.line-1 { stroke: @line-green; }
      &.line-2 { stroke: @line-orange; }
      &.line-3 { stroke: @line-red; }
    }
  }

  .loading-text {
    position: absolute;
    width: 550px * @screen-ratio-factor;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 40px * @screen-ratio-factor;
    color: @rb-highlight-light;
    font-weight: lighter;
    text-align: center;
  }
}
