@import "bootstrap/less/bootstrap.less";

.login .form-signin {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 60px;

  input {
    font-size: 16px;
    padding: 10px;
    height: auto;
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.main {
  margin-top: 80px;
}

.box-list {
  .list-group-item {
    .icon {
      @size: 12px;

      float:         right;
      display:       inline-block;
      margin-top:    4px;
      height:        @size;
      width:         @size;
      border-radius: @size / 2;

      &.offline { background: @brand-danger; }
      &.online  { background: @brand-success; }
    }
  }
}

.tabs {
  @border-style: 1px solid #ddd;

  .tab {
    padding: 10px;

    border-left:   @border-style;
    border-right:  @border-style;
    border-bottom: @border-style;
  }

  li > div {
    padding:       10px;
    cursor:        pointer;

    margin-right:  2px;
    line-height:   @line-height-base;
    border:        1px solid transparent;
    border-radius: @border-radius-base @border-radius-base 0 0;

    &:hover {
      border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
    }
  }

  li.active > div {
    font-weight:         bold;
    color:               @nav-tabs-active-link-hover-color;
    background-color:    @nav-tabs-active-link-hover-bg;
    border:              1px solid @nav-tabs-active-link-hover-border-color;
    border-bottom-color: transparent;
    cursor:              default;
  }
}

.box-dates-chart {
  .axis {
    text {
      font-size: 12px;
    }

    path, line {
      fill:   none;
      stroke: grey;
    }
  }
}
